<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.LaerDanskConnectionString"
            connectionString="Data Source=laerdansk.database.windows.net;Initial Catalog=LaerDansk;Persist Security Info=True;User ID=laerdansk;Password='&quot;!:A!63*&gt;pa$5]K3'"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>